/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.startup {
  display: flex;
  height: 6rem;
  flex-direction: column;
}

.startup > button {
  position: absolute;
  right: 13rem;
  top: 6.5rem;
}

.addbtn {
  margin-bottom: 1rem;
}
