.btn {
  margin-left: 20px;
}

.navbar {
  margin-left: 250px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.form-inline {
  background-color: #ccc;
}

nav {
  background-color: #ccc;
}
